RewriteEngine On

# Entferne .html Extension von URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [L]

# 404 Fehlerseite
ErrorDocument 404 /404.html
